* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

header #header-top {
  background-color: #0282f9;
}

header #header-top .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #header-top .container a {
  color: white;
  font-size: 11.2px;
  padding: 6px 10px;
  font-weight: bold;
}

