* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans Condensed", sans-serif;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.details-container {
  max-width: 1000px;
  margin: auto;
}

.details-container::after {
  content: "";
  display: table;
  clear: both;
}

.btn1 {
  background: #0282f9;
  color: white;
  display: inline-block;
  padding: 6px 40px;
  font-size: 12.8px;
}

.btn1:hover {
  cursor: pointer;
}

.btn2 {
  background: transparent;
  color: white;
  display: inline-block;
  padding: 10px;
  border: 1px solid #0282f9;
  font-size: 12.8px;
}

.btn2:hover {
  cursor: pointer;
  background: #0282f9;
}

.uppercase {
  text-transform: uppercase;
}

header #header-top {
  background-color: #0282f9;
}

header #header-top .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #header-top .container a {
  color: white;
  font-size: 11.2px;
  padding: 6px 10px;
  font-weight: bold;
}

header #header-bottom .container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header #header-bottom .container .navbar .logo {
  width: 80px;
}

header #header-bottom .container .navbar .logo img {
  width: 100%;
  padding-top: 5px;
}

header #header-bottom .container .navbar .menu li {
  padding: 0 16px;
}

header #header-bottom .container .navbar .menu li a {
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  color: black;
  line-height: 100px;
}

header #header-bottom .container .navbar .menu li a.active,
header #header-bottom .container .navbar .menu li a:hover {
  color: #0282f9;
  border-bottom: 3.5px solid #0282f9;
}

header #header-bottom .container .search {
  border-bottom: 2px solid #0282f9;
}

header #header-bottom .container .search input {
  background-color: transparent;
  border: none;
  text-align: right;
  width: 100px;
  height: 25px;
}

header #header-bottom .container .search input::-moz-placeholder {
  font-size: 17.6px;
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
}

header #header-bottom .container .search input:-ms-input-placeholder {
  font-size: 17.6px;
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
}

header #header-bottom .container .search input::placeholder {
  font-size: 17.6px;
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
}

header #header-bottom .container .search input:focus {
  outline: none;
}

footer #footer-top {
  background-image: url("/images/footer-bg.jpg");
}

footer #footer-top .container {
  display: flex;
  justify-content: space-between;
}

footer #footer-top .container ul {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

footer #footer-top .container:after {
  display: none;
}

footer #footer-top .container .left {
  padding: 20px 0;
  color: white;
}

footer #footer-top .container .left span {
  font-size: 12.8px;
  color: rgba(255, 255, 255, 0.5);
}

footer #footer-top .container .left .lists-container {
  display: flex;
  flex-direction: row;
}

footer #footer-top .container .left .lists-container span:hover {
  color: #0282f9;
}

footer #footer-top .container .left .lists-container > * {
  margin: 0 15px;
}

footer #footer-top .container .left .lists-container .double-list {
  display: flex;
  flex-direction: column;
}

footer #footer-top .container .left .credits {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

footer #footer-top .container .left .credits a {
  color: #0282f9;
}

footer #footer-top .container .right {
  width: 40%;
  background-image: url("/images/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

footer #footer-bottom {
  padding: 30px 0;
  background: #1c1c1c;
}

footer #footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #footer-bottom .container:after {
  display: none;
}

footer #footer-bottom .container .socials ul {
  display: flex;
  align-items: center;
}

footer #footer-bottom .container .socials ul > * {
  margin-left: 10px;
}

footer #footer-bottom .container .socials ul li h3 {
  color: #0282f9;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  padding: 200px 0;
  background-size: cover;
}

#comics {
  padding: 20px 0;
  background: #1c1c1c;
  color: white;
}

#comics .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comics .container .section-title {
  align-self: flex-start;
  padding: 8px 10px;
  background: #0282f9;
  color: white;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 0;
  transform: translateY(-50%);
}

#comics .container .comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#comics .container .comics-container .comic {
  width: 180px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#comics .container .comics-container .comic img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#comics .container .comics-container .comic p {
  padding: 5px 0;
  width: 100%;
}

#comics .container .btn1 {
  margin: 10px 0;
}

#shopping-links {
  background: #0282f9;
}

#shopping-links .container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#shopping-links .container ul li {
  display: flex;
  align-items: center;
  padding: 40px;
}

#shopping-links .container ul li a {
  display: flex;
  align-items: center;
  color: white;
}

#shopping-links .container ul li a .imgs {
  height: 60px;
  width: 60px;
}

#shopping-links .container ul li a .imgs img {
  height: 100%;
  width: 100%;
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
}

#cover-container {
  height: 100px;
  background: #0282f9;
  position: relative;
}

#cover-container .details-container {
  position: relative;
}

#cover-container .details-container .cover {
  position: absolute;
  transform: translateY(-100%);
  top: 70px;
  border: 1px solid white;
}

#cover-container .details-container .cover img {
  display: inline-block;
}

#cover-container .details-container .cover .comic-book {
  position: absolute;
  color: white;
  background: #36bae0;
  padding: 2px 6px;
  top: 0px;
  left: 0px;
  font-size: 14.4px;
}

#cover-container .details-container .cover .view-gallery {
  position: absolute;
  bottom: 0px;
  color: white;
  background: #36bae0;
  padding: 2px 6px;
  width: 100%;
  text-align: center;
  font-size: 14.4px;
}

#price-and-description {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#price-and-description #left-box {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#price-and-description #left-box > * {
  margin: 5px 0;
}

#price-and-description #left-box h1 {
  color: #003f5e;
  font-size: 30.4px;
}

#price-and-description #left-box p {
  font-size: 14.4px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
}

#price-and-description #left-box .availability-box {
  background-color: #55ba59;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

#price-and-description #left-box .availability-box h3 {
  color: rgba(255, 255, 255, 0.5);
}

#price-and-description #left-box .availability-box span {
  color: white;
  font-weight: bolder;
  font-size: 14.4px;
}

#price-and-description #left-box .availability-box > * {
  padding: 10px;
}

#price-and-description #left-box .availability-box .price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
}

#price-and-description #left-box .availability-box .available {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#price-and-description #advertisement {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

#price-and-description #advertisement h3 {
  color: rgba(0, 0, 0, 0.6);
}

#talent-and-specs {
  padding: 40px 0;
  background: whitesmoke;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#talent-and-specs h3 {
  font-size: 20.8px;
  color: #003f5e;
}

#talent-and-specs h4 {
  font-size: 14.4px;
  color: #557f92;
}

#talent-and-specs a {
  font-size: 11.2px;
  color: #36bae0;
  font-weight: bold;
  line-height: 5px;
}

#talent-and-specs a:hover {
  color: #96ccfe;
}

#talent-and-specs span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12.8px;
  font-weight: bolder;
}

#talent-and-specs .talent {
  margin-right: 5px;
  float: left;
  width: calc(50% - 5px);
}

#talent-and-specs .talent > * {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#talent-and-specs .talent .art-by > * {
  float: left;
  width: 50%;
}

#talent-and-specs .talent .art-by::after {
  content: "";
  display: table;
  clear: both;
}

#talent-and-specs .talent .written-by > * {
  float: left;
  width: 50%;
}

#talent-and-specs .talent .written-by::after {
  content: "";
  display: table;
  clear: both;
}

#talent-and-specs .specs {
  margin-left: 5px;
  width: calc(50% - 5px);
  float: left;
}

#talent-and-specs .specs > * {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#talent-and-specs .specs .series a {
  font-size: 12.8px;
  line-height: 15px;
}

#talent-and-specs .specs .series > * {
  width: 50%;
  float: left;
}

#talent-and-specs .specs .series::after {
  content: "";
  display: table;
  clear: both;
}

#talent-and-specs .specs .price > * {
  width: 50%;
  float: left;
}

#talent-and-specs .specs .price::after {
  content: "";
  display: table;
  clear: both;
}

#talent-and-specs .specs .sale-date > * {
  width: 50%;
  float: left;
}

#talent-and-specs .specs .sale-date::after {
  content: "";
  display: table;
  clear: both;
}

#shop-icons {
  background-color: whitesmoke;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#shop-icons .icon-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#shop-icons .icon-box-container .icon-box {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  padding: 15px;
}

#shop-icons .icon-box-container .icon-box h4 {
  font-size: 12.8px;
}

#shop-icons .icon-box-container .icon-box:hover {
  background-color: #e9e9e9;
}

#shop-icons .icon-box-container .icon-box:hover a {
  color: #003f5e;
}

#shop-icons .icon-box-container .icon-box:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#shop-icons .icon-box-container .icon-box a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: #9f9f9f;
  font-family: "Open Sans Condensed", sans-serif;
}

#shop-icons .icon-box-container .icon-box .icon-box-image {
  background-image: url("/images/cta-icons.png");
  display: inline-block;
  width: 37px;
  height: 37px;
}

#shop-icons .icon-box-container .icon-box:nth-child(1) .icon-box-image {
  background-position: 0px 0;
}

#shop-icons .icon-box-container .icon-box:nth-child(1):hover .icon-box-image {
  background-position: 0px 37px;
}

#shop-icons .icon-box-container .icon-box:nth-child(2) .icon-box-image {
  background-position: 37px 0;
}

#shop-icons .icon-box-container .icon-box:nth-child(2):hover .icon-box-image {
  background-position: 37px 37px;
}

#shop-icons .icon-box-container .icon-box:nth-child(3) .icon-box-image {
  background-position: 74px 0;
}

#shop-icons .icon-box-container .icon-box:nth-child(3):hover .icon-box-image {
  background-position: 74px 37px;
}

#shop-icons .icon-box-container .icon-box:nth-child(4) .icon-box-image {
  background-position: 111px 0;
}

#shop-icons .icon-box-container .icon-box:nth-child(4):hover .icon-box-image {
  background-position: 111px 37px;
}

