*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text_font;
}

h1,h2,h3,h4,h5{
    font-family: $titles_font;
}

ul{
    list-style-type: none;
    li{
        display: inline-block;
    }
}

a{
    text-decoration: none;
    color: unset;
    display: inline-block;
}

.container{
    max-width: 1280px;
    margin: auto;
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}
.details-container{
    max-width: 1000px;
    margin: auto;
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

.btn1{
    background: $main_color;
    color: white;
    display: inline-block;
    padding: 6px 40px;
    font-size: $font_size * 0.8;
    &:hover{
        cursor: pointer;
    }
}

.btn2{
    background: transparent;
    color: white;
    display: inline-block;
    padding: 10px;
    border: 1px solid $main_color;
    font-size: $font_size * 0.8;
    &:hover{
        cursor: pointer;
        background: $main_color;
    }
}

.uppercase{
    text-transform: uppercase;
}
