*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $text_font;
}

h1,h2,h3,h4,h5{
    font-family: $titles_font;
}

ul{
    list-style-type: none;
    li{
        display: inline-block;
    }
}

a{
    text-decoration: none;
    color: unset;
    display: inline-block;
}

.container{
    max-width: 1280px;
    margin: auto;
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

.uppercase{
    text-transform: uppercase;
}
