.jumbotron{
    background-image: url('/images/jumbotron.jpg');
    padding: 200px 0;
    background-size: cover;
}

#comics{
    padding: ($spacing) 0;
    background: $dark_section;
    color: $dark_section_text;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-title{
            align-self: flex-start;
            padding: 8px 10px;
            background: $main_color;
            color: white;
            display: inline-block;
            position: relative;
            top: -20px;
            left: 0;
            transform: translateY(-50%);
        }
        .comics-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .comic{
                width: $homepage_comics_cover;
                margin: 4px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                img{
                    width: 100%;
                    height: $homepage_comics_cover;
                    object-fit: cover;
                    object-position: top;
                }
                p{
                    padding: $spacing * 0.25 0;
                    width: 100%;
                }
            }
        }
        .btn1{
            margin: 10px 0;
        }
    }
}

#shopping-links{
    background: $main_color;
    .container{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                display: flex;
                align-items: center;
                padding: $spacing * 2;
                a{
                    display: flex;
                    align-items: center;
                    color: white;
                    .imgs{
                        height: 60px;
                        width: 60px;
                        img{
                            height: 100%;
                            width: 100%;
                            display: inline-block;
                            object-fit: contain;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
