$main_color: #0282f9;
$nav_color: black;

$dark_section: #1c1c1c;
$dark_section_text: white;
$light_section: white;

$text_font: 'Open Sans', sans-serif;
$titles_font: 'Open Sans Condensed', sans-serif;

$font_size: 16px;

$spacing: 20px;

$homepage_comics_cover: 180px;
